.menu.full
	.menu__page
		.header.clearfix
			.header__logo-wrap
				img.header__logo(src='images/content/logo.png')
			.header__menu-icon
				//- i.pe-7s-menu.pe-5x.pe-va
				//- i.icon-resize-small.icon-large
		.acco
			ul.acco__list
					li.acco__item
						.acco__item-wrap.clearfix
							span.acco__text Галактика ERP
							span.acco__text-small ERP
							.acco__icon
								i.pe-7s-angle-down
							.acco__value-wrap.clearfix
								span.acco__value 5
						ul.inserted__list
							i.pe-7s-more.inserted__icon
							- var videos = ['Управление проектами на промышленных предприятиях', 'Комплекс решений корпорации «Галактика» для эффективного управления МТО','«Планирование отпусков в «Галактике ERP 9.1»','Электронная отчетность. Формирование декларации по НДС с 2015 г','Поддержка пилотного проекта ФСС в «Галактике ERP 9.1»']
							each video, i in videos
								li.inserted__item.clearfix
									span.inserted_time 30:00
									.inserted__text-wrap 
										span.inserted__text= video
										.inserte__id-wrap
											span.inserte__id= i+1
									.inserte__id-wrap-small
										span.inserte__id= i+1
					li.acco__item
						.acco__item-wrap.clearfix
							span.acco__text Галактика EAM
							span.acco__text-small EAM
							.acco__icon
								i.pe-7s-angle-down
							.acco__value-wrap.clearfix
								span.acco__value 5
						ul.inserted__list
							i.pe-7s-more.inserted__icon
							- var videos = ['Управление производственными активами. Тиражная EAM-система', ' Использование лучших отечественных и зарубежных методик ТОиР','Галактика ЕАМ 3.1: передовой опыт. Управление процессами ТОиР и производственными активами, ч.1','Галактика ЕАМ 3.1: передовой опыт управления процессами ТОиР, ч.2','«Галактика EAM» для сети розничных магазинов']
							each video, i in videos
								li.inserted__item.clearfix
									span.inserted_time 30:00
									.inserted__text-wrap 
										span.inserted__text= video
										.inserte__id-wrap
											span.inserte__id= i+1
									.inserte__id-wrap-small
										span.inserte__id= i+1
					li.acco__item
						.acco__item-wrap.clearfix
							span.acco__text Галактика AMM
							span.acco__text-small AMM
							.acco__icon
								i.pe-7s-angle-down
							.acco__value-wrap.clearfix
								span.acco__value 5
						ul.inserted__list
							i.pe-7s-more.inserted__icon
							- var videos = ['Управление проектами на промышленных предприятиях', 'Комплекс решений корпорации «Галактика» для эффективного управления МТО','«Вытягивающее» планирование и управление сложным машиностроительным производством','«Галактика АММ»: прорыв в эффективное производство','Управление производством: от идеи до реализации']
							each video, i in videos
								li.inserted__item.clearfix
									span.inserted_time 30:00
									.inserted__text-wrap 
										span.inserted__text= video
										.inserte__id-wrap
											span.inserte__id= i+1
									.inserte__id-wrap-small
										span.inserte__id= i+1
					li.acco__item
						.acco__item-wrap.clearfix
							span.acco__text Галактика BI
							span.acco__text-small BI
							.acco__icon
								i.pe-7s-angle-down
							.acco__value-wrap.clearfix
								span.acco__value 5
						ul.inserted__list
							i.pe-7s-more.inserted__icon
							- var videos = ['Управление проектами на промышленных предприятиях', 'Комплекс решений корпорации «Галактика» для эффективного управления МТО','«Вытягивающее» планирование и управление сложным машиностроительным производством','«Галактика АММ»: прорыв в эффективное производство','Управление производством: от идеи до реализации']
							each video, i in videos
								li.inserted__item.clearfix
									span.inserted_time 30:00
									.inserted__text-wrap 
										span.inserted__text= video
										.inserte__id-wrap
											span.inserte__id= i+1
									.inserte__id-wrap-small
										span.inserte__id= i+1

	.footer.clearfix
		.footer__button-wrap
			button.footer__button Просмотреть все материалы
		.footer__button-wrap-small
			button.footer__button.footer__button_small
				i.pe-7s-notebook
		//- .footer__icon
			i.pe-7s-expand1.pe-5x.pe-va